.text-size{
    font-size: 15px;
    font-weight: bolder; 
 }
 thead{
     background-color:#273246;
     color: white;
 }
 .tableoverflow{
    overflow-y:auto;
    max-height: 600px
 }
 #noresult{
     text-align: center;
     margin-top: 20px;
     color: dimgray;
     font-size: 13px
 }
 .trhighlighting:hover{
    background-color: bisque
 }