.btn-danger {
    border-radius: 0px;
    background-color: #209fed;
}

.fixed-side-menu-list {
    list-style: none;
    font-size: 0;
}

.fixed-side-menu-list li {
    margin-bottom: 2px;
    letter-spacing: 2px;
}

.fixed-side-menu-list li a {
    border-left: 2px solid #a2a2a2;
    font-size: 12px;
    color: #a2a2a2;
    line-height: 12px;
    padding: 24px 10px;
    display: block;
    text-decoration: none;
    transition: all 0.8s ease;
}

.fixed-side-menu-list li.active a {
    border-left-color: #209fed;
    color: #209fed;
}

.fixed-side-menu-list li.active a {
    border-left-color: #209fed;
    color: #209fed;
}

.fixed-side-menu-list a:hover {
    border-left-color: #111;
    color: #111;
}
.list-type5 {

    margin: 0 auto;
}

.list-type5 ol {
    list-style-type: none;
    /* list-style-type: decimal; */
    /*IE 7- hack*/
    margin: 0;
    margin-left: 1em;
    padding: 0;
    counter-reset: li-counter;
}

.list-type5 ol li {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0.5em;
    background-color: #111;
    padding-left: 58px;
}

.list-type5 a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

.list-type5 li:hover {
    box-shadow: inset -1em 0 #209fed;
    -webkit-transition: box-shadow 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
}

.list-type5 ol li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #209fed;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 9;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
}