<div class="container boxshadow containerone" style="text-align: center">
    <!-- <h1 class="pull-left">MEET WINNERS</h1> -->
 </div>
 <div class="container content boxshadow">
    <div class="row">
       <div class="col-sm-2"></div>
       <div class="col-sm-8">
          <div class="c" id="borderimg">
             <div class="row">
                <h3 style="text-align: center"> <b>TOP </b>  <b><span id="winnerlistdisplay"></span></b>&nbsp;  <b>WINNERS</b></h3>
                <br><i class="fa fa-trophy" aria-hidden="true"></i>
                <!-- <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;
                <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp; -->
             </div>
             <div class="row" style="margin-top:20px">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                   <ul *ngFor="let win of winners" style="list-style-type:square;">
                      <li> {{ win.winner_name }} </li>
                   </ul>
                </div>
                <div class="col-sm-4"></div>
             </div>
          </div>
       </div>
       <div class="col-sm-2"></div>
    </div>
 </div>